body {
    background-color: yellow;
    font-family:'arial';
    font-size: 25px;
    color: #000;
}
header {
    background-color: white;
}
header a {
    color: rgb(0, 0, 0);
    text-decoration:double;
}
article a {
    background-color:white;
    color: red;
    text-decoration: none;
    }
footer {
    background-color: black;
    color: yellow;
}


