
body {
    background-color: gray;
    font-family:'arial';
    font-size: 25px;
    color: #000;
    
}
.topo {
    background-color: white;
    padding: 5px;
}
.topo a {
    color: rgb(0, 0, 0);
    text-decoration:none;
    padding: 30px;
}
.botao {
    background-color:pink;
    color: red;
    text-decoration: none;
    padding: 5px;
    
}
.materia a:hover{
    color: blue;
}
.materia {
    background-color: brown;
    padding: 10px;
    margin: 20px;
}
.rodape {
    background-color: black;
    color: yellow;
    padding: 50px;
}
main{
    margin: none;
}
.menu {
    display:flex;
    list-style:none;
    margin-left:auto;
}
.menu li{
    margin-left: 30px;
}
.menu a:hover {
    color:red;
}
.navegacao {
    display: flex;
}




