* {
    box-sizing: border-box;
}
body {
    background-color: gray;
    font-family:'times new roman';
    font-size: 25px;
    color: #000;
    
}
.topo {
    background-color: white;
    padding: 5px;
}
.topo a {
    color: rgb(0, 0, 0);
    text-decoration:none;
    padding: 30px;
}
.botao {
    background-color:pink;
    color: red;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    border-radius: 10px;
    font-size: 15px;
    border: none;
}
.materia a:hover{
    color: blue;
}
.materia {
    background-color: brown;
    padding: 10px;
    margin-bottom: 30px;
    margin: 20px;
    width: 600px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.rodape {
    background-color: black;
    color: yellow;
    padding: 50px;
    text-align: center;
}
main{
    margin: none;
}
.menu {
    display:flex;
    list-style:none;
    margin-left:auto;
}
.menu li{
    margin-left: 30px;
}
.menu a:hover {
    color:red;
}
.navegacao {
    display: flex;
}
.titulo {
    text-align: center;
    text-decoration-line:underline;
    margin-bottom: 50px;
    font-size: 50px;
    color: white;
}
.texto {
    text-align:center;
    margin-bottom: 40px;
    font-size: Arial;
}
.materia img {
    width: 100%;
    margin-bottom: 10px;
} 
.materia h1 {
    margin-bottom: 10px;
    font-size: 30px;
}

.grade {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px,1fr));
    gap: 50px;
}
.corpo {
    padding: 30px;
    margin: none;
}

.contato {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: white;
    display:block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding:30px;
}    
.rotulo {
    display: block;
    margin-bottom: 20px;
}
.campo {
    background-color: darkgray;
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border: 1px #000000 solid;
}
.campo:focus {
    background-color: blue;
    color: brown;
    outline: none;
}
textarea.campo {
    height: 150px;
    padding: 10px;
}
.subtitulo {
    text-align: center;
}
.mapa {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;
    padding:10px;
}
